[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mechanize = "*"
tidalapi = "*"
pipenv = "*"
black = "*"

[dev-packages]
pylint = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
